<div class="bg-gradient-to-b from-blue-500 to-blue-600 grid grid-cols-3 border-b-4 border-white p-2 items-center">
    <img src="/assets/deimos.svg" class="h-24 w-24 ">
    <p class="text-white text-center text-3xl font-bold">Customize your map</p>
</div>
<div id="map"></div>
<div class="grid justify-items-center p-2">
    <p class="font-bold">Coordinates:</p>
    <p id="coor">&nbsp;</p>
</div>
<div class="bg-gradient-to-b from-blue-500 to-blue-600 border-t-4 border-white p-2 grid justify-items-center">
    <p class="text-white text-2xl ">Choose your points</p>
</div>
<div class="bg-blue-400 grid justify-items-center">
    <div class="grid grid-cols-3 p-2 w-6/12 justify-items-center ">
        <img src="/assets/marker.svg" class="h-8 w-8">
        <img src="/assets/circle.svg" class="h-8 w-8">
        <img src="/assets/polygon.svg" class="h-8 w-8 ">
        <button (click)="onClickDraw('marker')">
            <p class="text-white hover:text-black bg-gradient-to-b from-blue-500 to-blue-600 p-2 rounded mt-2">Draw a
                marker
                point
            </p>
        </button>
        <button (click)="onClickDraw('circle')">
            <p class="text-white hover:text-black bg-gradient-to-b from-blue-500 to-blue-600 p-2 rounded mt-2">Draw a
                circle
            </p>
        </button>
        <button (click)="onClickDraw('polygon')">
            <p class="text-white hover:text-black bg-gradient-to-b from-blue-500 to-blue-600 p-2 rounded mt-2">Draw a
                polygon
            </p>
        </button>
    </div>
</div>